<div>
    <h1>product</h1>
    <p>title: {{product.title}}</p>
    <p>description: {{product.description}}</p>
    <p>price: {{product.price}}</p>
    <p>thumbnail: {{product.thumbnail}}</p>
    <p>code: {{product.code}}</p>
    <p>stock: {{product.stock}}</p>
    <p>id: {{product.id}}</p>
</div>